@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+Upright:wght@300;400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
    color: #212121;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    border: solid 1px #eee;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 20rem;
    outline: none;
    transition: border-bottom-color 0.2s ease-in-out;
    width: 100%;
    width: 20rem;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    font-size: medium;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    background: #7f27ff;
    color: #fafafa;
    padding: 0.6rem 1.5rem;
    border: 1px solid #424242;
    border-radius: 5px;
    font-size: medium;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.secondary-btn {
    background: #fafafa;
    color: #7f27ff;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fill-available {
    width: -webkit-fill-available;
}

.snackbar {
    visibility: hidden;
    min-width: 20rem;
    margin-inline: calc(50vw - 10rem);
    background-color: #424242;
    color: #fafafa;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    bottom: 30px;
}

.show {
    visibility: visible;
    animation:
        fadein 0.5s,
        fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 2rem;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 2rem;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.cormorant-upright-light {
    font-family: "Cormorant Upright", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-upright-regular {
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-upright-medium {
    font-family: "Cormorant Upright", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-upright-semibold {
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-upright-bold {
    font-family: "Cormorant Upright", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
}

.cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
}

.cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}

.cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
}

.cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}

.cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
}

.cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
}

.cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
}
